BizCard.xcodeproj/project.xcworkspace/xcuserdata/wfrank.xcuserdatad/WorkspaceSettings.xcsettings
BizCard.xcodeproj/xcuserdata/wfrank.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
BizCard.xcodeproj/xcuserdata/wfrank.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BizCard.xcodeproj/xcuserdata/wfrank.xcuserdatad/xcschemes/BizCard.xcscheme
BizCard.xcodeproj/xcuserdata/wfrank.xcuserdatad/xcschemes/xcschememanagement.plist
